//color//
$primary-color: #FAFAF5;
$accent-color: #6ACC91;
$text-primary: #111827;
$text-secondary: #EFF1F3;
$text-tri: #8D8F93;
$error-color: #E73B3B;
$success-color: #66CC44;

//typography//
$font-family: "Prompt", sans-serif;
$font-l-size: 32px;
$font-m-size: 24px;
$font-s-size: 20px;
$font-xs-size: 16px;
$font-xxs-size: 12px;

//spacing//
$padding-base: 0.5rem;
$margin-base: 0.5rem;
$border-radius: 0.25rem;

